
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:screen;
}

.nav-bar{
    padding: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;

    
    background: url('./img/giphy.gif');
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

.app-tittle{
    font-size: 60px;
    text-align: center;
} 

.container{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.films-form{
    background-image: url(./img/bg-card2.gif);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size:cover;
    width:40%;

    border-collapse:inherit;
    border: 2px  solid black ;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items:center;

    padding: 1rem;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
    rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.label{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.film-input{
    margin: 1rem;
    border-radius: 5px;
    padding: 0.6rem;
    width: 50%;
}

.button {
    padding: 0.5rem;
    border-radius: 12px;
    border: none;
    width: 30%;
    background-color: rgb(241, 168, 85);
    color:black;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 3px  rgb(87, 253, 22);
}

.section-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-film{
    border: 2px solid black;
    border-radius: 12px;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(17, 46, 128, 0.692);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25%;
    font-family: 'Odibee Sans';
    font-size: 25px;
    align-items: center;

}

.card-film img{
    width: 100%;
    margin: 0.2rem;
    border-radius: 5px;
}

span{
    font-family: 'Ubuntu';
    font-weight: bold;
    color: yellow;
}

.nota{
    font-size: 50px;
}

p{
    padding-top: 1rem;
}